:root {
  /* COLORS */
  --color-red-dark: #db224a;
  --color-red-regular: #e52a5a;
  --color-red-lighter: #f5465d;
  --color-red-light: #ff585f;

  --color-green-dark: #39b385;
  --color-green-regular: #5cc66a;
  --color-green-lighter: #66c873;
  --color-green-light: #9be15d;

  --color-yellow-regular: #ffb003;
  --color-yellow-light: #ffcb03;

  --color-grey-dark: #333;
  --color-grey-darker: #666;
  --color-grey-regular: #888;
  --color-grey-lighter: #eee;
  --color-grey-light: #f3f3f3;

  /* BACKGROUNDS */
  --red-gradient: var(--color-red-regular), var(--color-red-light);
  --green-gradient: var(--color-green-regular), var(--color-green-light);
  --yellow-gradient: var(--color-yellow-regular), var(--color-yellow-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: var(--color-grey-light);
  height: 100vh;
  padding: 2rem;
  font-size: 1.6rem;
}

/* BUTTONS */

button {
  border: none;
}

button:focus {
  outline: none;
}

.btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.btn-text {
  display: inline-block;
  font-size: 1.25rem;
  background-color: unset;
  border: none;
  color: inherit;
  transition: color .15s;
  cursor: pointer;
  text-decoration: underline;
}

.btn-text--right {
  float: right;
}

.btn-text:hover {
  color: var(--color-grey-regular);
}

.btn-text:active {
  outline: none;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

.btn--authors {
  display: block;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  transition: all .15s;
  cursor: pointer;
  backface-visibility: hidden;
}

.btn--authors:hover {
  transform: scale(1.15);
}

.btn--authors > svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .3));
}

/* NAVIGATION */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nav__welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.nav__logo {
  height: 5.25rem;
}

.nav__login {
  display: flex;
}

.nav__login-input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.nav__login-input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.nav__login-input::placeholder {
  color: #bbb;
}

.nav__login-btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.nav__login-btn:hover,
.nav__login-btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* ALERT */

.alert {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 12%;
  width: 35%;
  transform: translateX(-50%);
  border-radius: 1rem;
  padding: 2.5rem;
  text-align: center;
  transition: all .25s ease-in-out;
}

.alert--error {
  background-image: linear-gradient(to top right, var(--red-gradient));
  box-shadow: 0 3px 30px 10px rgba(229, 42, 90, .4);
}

.alert--success {
  background-image: linear-gradient(to top right, var(--green-gradient));
  box-shadow: 0 3px 30px 10px rgba(59, 179, 133, .4);
}

.alert__info {
  padding: 0;
  margin: 0 auto 0 0;
  font-size: 1.8rem;
  color: #fff;
}

.alert__btn {
  margin-left: auto;
  padding: 1.25rem 2rem;
  margin-left: 1.5rem;
  border-radius: 2.25rem;
  font-weight: bold;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .15);
  transition: all .15s ease-out;
  backface-visibility: hidden;
}

.alert__btn:hover {
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .15);
}

.alert__btn:active {
  transform: translateY(3px);
}

.alerts-switch__btn {
  width: 5rem;
  height: 2.9rem;
  border-radius: 3rem;
  padding: .5rem;
  background-color: #808080;
  transition: all .15s;
  text-align: unset;
  cursor: pointer;
}

.alerts-switch__btn:active {
  outline: none;
}

.alert-switch__btn-inner-circle {
  display: inline-block;
  width: 50%;
  height: 100%;
  align-self: stretch;
  border-radius: 50%;
  background-color: #fff;
  transition: all .15s;
}

.alert-switch__btn--active {
  background-color: var(--color-green-lighter);
}

.alert-switch__btn--active > .alert-switch__btn-inner-circle {
  margin-left: 50%;
}

.notifications-switch--active .notifications-switch__switch {
  background-color: var(--color-green-lighter);
}

.notifications-switch__switch:hover ~ .notifications-switch__caption {
  transform: translate(65%, -50%);
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: var(--color-grey-regular);
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* ACTIONS */

.actions__container {
  position: relative;
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

/* ACTIONS -> ACTIONS SWITCH */

.actions__switch {
  width: 100%;
  height: 6rem;
  cursor: pointer;
  transition: all .15s;
}

.actions__switch--requests {
  background-color: var(--color-red-regular);
}

.actions__switch--requests:hover {
  background-color: var(--color-red-dark);
}

.actions__switch--movements {
  background-color: var(--color-green-lighter);
}

.actions__switch--movements:hover {
  background-color: var(--color-green-regular);
}

.actions__switch-text {
  font-size: 1.8rem;
  color: var(--color-grey-light);
  text-transform: uppercase;
}

.actions__switch-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  padding: .5rem;
  border-radius: 50%;
  font-size: 1.1rem;
  background-color: #fff;
  box-sizing: content-box;
  height: 1rem;
  box-shadow: inset 0 0 5px 2px rgba(155, 295, 93, .25);
}

.actions__switch-count--positive > b {
  background-image: radial-gradient(circle, var(--green-gradient));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.actions__switch-count--negative > b {
  background-image: radial-gradient(circle, var(--color-red-regular), var(--color-red-lighter));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* END OF ACTIONS -> ACTIONS SWITCH */

.actions {
  display: block;
  width: 100%;
  height: auto;
}

.actions__row {
  padding: 2.25rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-lighter);
  transition: all .2s;
  cursor: pointer;
}

.actions__row:hover {
  background-color: #f6f6f6;
}

.actions__row--important {
  background-color: rgba(255, 22, 49, 0.25);
}

.actions__row--important:hover {
  background-color: rgba(255, 22, 49, 0.15);
}

.actions__overview {
  width: 100%;
  display: flex;
  align-items: center;
}

.actions__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.actions__from {
  font-size: 1.2rem;
  color: #7a7a7a;
  margin-right: auto;
}

.actions__type--positive {
  background-image: linear-gradient(to top right, var(--green-gradient));
}

.actions__type--negative {
  background-image: linear-gradient(to top right, var(--red-gradient));
}

.actions__value {
  font-size: 1.7rem;
  margin-left: 1.25rem;
}

.actions__value--margin {
  margin-left: auto;
}

.actions__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s;
}

.actions__details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.actions__details-row:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-lighter);
}

.actions__details-column {
  font-size: 1.5rem;
  color: var(--color-grey-darker);
}

.actions__details-column:first-child {
  text-transform: capitalize;
}

.actions__react-button__container {
  margin-left: auto;
}

.actions__react-button {
  box-sizing: content-box;
  width: 1.25rem;
  height: 1.25rem;
  padding: .5rem;
  border-radius: 50%;
  transition: background-color .15s;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.actions__react-button:hover {
  outline: none;
}

.actions__react-button:first-of-type {
  margin-left: auto;
  margin-right: 1rem;
}

.actions__react-button--accept {
  border: 2px solid var(--color-green-dark);
}

.actions__react-button--accept:hover {
  background-color: var(--color-green-dark);
}

.actions__react-button--decline {
  border: 2px solid var(--color-red-dark);
}

.actions__react-button--decline:hover {
  background-color: var(--color-red-dark);
}

.actions__react-button > svg {
  width: 100%;
  height: 100%;
  fill: #222;
  transition: fill .15s;
}

.actions__react-button:hover > svg {
  fill: #fff;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: var(--color-green-lighter);
}

.summary__value--out {
  color: var(--color-red-lighter);
}

/* OPERATIONS */
.operation {
  position: relative;
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: var(--color-grey-dark);
}

.operation--transfer {
  background-image: linear-gradient(to top left, var(--yellow-gradient));
}

.operation--request {
  background-image: linear-gradient(to top right, var(--red-gradient));
}

.operation--loan {
  background-image: linear-gradient(to top right, var(--green-gradient));
}

.operation--close {
  background-image: linear-gradient(to top right, var(--red-gradient));
}

.operation__form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.operation__form.operation__form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.operation__form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.operation__form-input, .modal__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-grey-dark);
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.operation__form-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.operation__form-label {
  font-size: 1.3rem;
  text-align: center;
}

.operation__form-btn-switch {
  box-sizing: content-box;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  padding: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: radial-gradient(circle, var(--yellow-gradient));
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  transition: all .15s ease-out;
  cursor: pointer;
}

.operation__form-btn-switch > svg {
  display: inline-block;
  fill: #fff;
  width: 1.4rem;
  height: 1.4rem;
}

.operation__form-btn-switch:hover {
  transform: scale(1.15);
}

.operation__form-btn-switch--request {
  background-image: radial-gradient(circle, var(--red-gradient));
}

.operation__form-btn--alternative {
  padding: .5rem 2rem;
  margin-top: 2rem;
}

/* MODAL */

.modal,
.authors {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
  transition: all .25s;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  padding: 2rem;
  background-image: linear-gradient(to right top, var(--yellow-gradient));
  border-radius: 12px;
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, .15);
  transition: all .25s;
}

.modal__heading {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-grey-light);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin: 0 0 2rem 0;
}

.modal__input {
  margin-bottom: 1rem;
}

#request-deadline {
  display: none;
}

/* AUTHORS */

.authors__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
  border-radius: 1.1rem;
}

.authors__heading {
  font-size: 3.2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--red-gradient));
  letter-spacing: 1px;
  margin-top: 0;
}

.authors__heading:not(:first-child) {
  margin-top: 3rem;
}

.authors__author {
  display: block;
  text-align: center;
  font-size: 1.9rem;
  color: var(--color-grey-dark);
}

.authors a {
  color: currentColor;
  transition: all .15s;
}

.authors a:hover {
  color: var(--color-red-regular);
}

/* OTHERS */

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-grey-dark);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.animation-pop {
  animation: popUp 1.5s cubic-bezier(.52,.14,.01,.99);
}

.floating-buttons-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 2rem;
  bottom: 1rem;
}

.floating-buttons-container :not(:last-child) {
  margin-bottom: 2rem;
}

@keyframes popUp {
  from {
    transform: translate(-50%, 23rem);
  }

  to {
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-height: 45em) {
  html {
    min-height: 115%;
  }
}